<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
    .all
        .title
            p Calculator
        form
            p Value 1: 
                input#value1(type='text')
            p Value 2:
                input#value2(type='text')
            | Operator:
            select#operator
                option(value='add') add
                option(value='min') Minus
                option(value='div') Divide
                option(value='mul') Multiply
            button(type='button' onclick='calc()') Calculate
        #result
    script
        include main.js
    if config.entry.css.external
        link(rel="stylesheet", href=`${baseUrl}style.css`)