.all{
    color:red;
    margin-top: 50px;
    text-align: center;
}
body{
    background-color: aqua;
}
#result{
text-decoration-line: underline;
font-size: 50px;
padding: 40px;
}
.title{
    background-color: bisque;
    font-style: italic;
    font-size: 50px;
    width: 300px;
    margin-left: 400px;
}